<!DOCTYPE html>
<html>
<head>
	<title>Registeration Form</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body style="background-color: lightgray;">
	<div class="container">
		<div class="row" style="text-align: center; padding: 5% ;background-color: midnightblue;">
			<div class="col-md-12">
				<h3 style="color: white"><b>Welcome to DLM</b></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="padding-left: 90%; background-color: midnightblue ;padding-bottom: 2%">
				<a href="/logout/" class="btn btn-danger" role="button">Logout</a>
			</div>			
		</div>
	</div>
	<div class="container">
		<div class="row" style="background-color: white; padding: 10%;">
			<div class="col-md-12">
				<table class="table-bordered">
					<thead>
						<th>
							File name
						</th>
						<th>
							File size
						</th>
						<th>
							Date of upload
						</th>
						<th>
							File extension
						</th>
					</thead>
				{%for file in data%}
					<tbody>
						<td>
							{{file.docfile.name}}<br>
							<a href="/viewfilecontents/{{file.docfile.name}}"><button type="submit" name="view_file">View</button></a>
						</td>

						<td>
							{{file.docfile.size}}
						</td>

						<td>
							{{file.docdate_created}}
						</td>

						<td>
							{{file.get_extension}}
						</td>
					</tbody>
				{%endfor%}		
				</table>
			</div>
		</div>
	</div>
</body>
</html>